<div class="card mt-3">
    <div class="card-header">
        <div>Get Stats By Conference</div>
        <small>Should allow you to look up conference records. ACC vs Pac12 in passing, etc.</small>
    </div>
    <div class="card-body">
        <span>PUT CONTENT HERE</span>
    </div>
</div>
@code {

}
